<section id="services_all">
  <div class="container">
    <div class="row" style="background-color: white">
      <div class="col-md-12" style="margin-top: 50px">
        <h2 class="section-pre-title">DISCOVER EVERYTHING</h2>
        <h1 class="section-title">ABOUT US</h1>
        <div class="section-icon">
          <i class="fa fa-wrench"></i>
        </div>
        <section id="about_us_financial_services" style="text-align: left">
          <h2 style="">Financial Services</h2>
          <p>ScrapeGenie’s intelligent agents monitor, normalize and export data to populate spreadsheets, 
            trigger alerts or power mash-ups. The result can be potentially millions of dollars per trade. 
            In a sea of information ScrapeGenie converts raw data into actionable intelligence, reducing 
            response times and informing better decision making processes. 
          </p>
        </section>
        <section id="about_us_marketers">
          <h2>Marketers</h2>
          <p>The Internet contains a wealth of information but the problem has historically been how to 
            efficiently gather and make sense of it. ScrapeGenie provides marketers with the tools to 
            effortlessly monitor chat, harvest directories, compile lists and validate data. 
          </p>
        </section>
          <section id="about_us_researchers" style="text-align: left">
            <h2>Researchers</h2>
            <p>Unlock data silos otherwise beyond reach, using conventional methods and technologies. 
              ScrapeGenie places valuable data sources within your reach, with proprietary technology 
              and an experienced staff that’s ready to help. 
            </p>
          </section>
          <section id="about_us_online_aggregators" style="text-align: left">
            <h2>Online Aggregators</h2>
            <p>Aggregation of information is an inevitable step in the progression of the Internet. It 
              potentially affects every industry and individual, and ScrapeGenie provides aggregators a 
              way to power their enterprise without having to first invest heavily in any single technology 
              solution.
            </p>
          </section>
          <section id="about_us_search_engine" style="text-align: left">
            <h2>Search Engine Optimization Profesionals</h2>
            <p>As SEO continues to become a key component in company’s marketing strategies, 
              obtaining site content becomes increasingly more important. ScrapeGenie provides 
              an efficient means to consistently gather content from news sources, directories, 
              partner sites and more.
            </p>
          </section>
          <section id="about_us_reputation_management" style="text-align: left">
            <h2>Reputation Management Profesionals</h2>
            <p>Understanding what’s being said about you online can be an invaluable source of information, and 
              many times less expensive than focus groups or expensive research projects. ScrapeGenie lets you 
              easily monitor the sites that matter 24/7. 
            </p>
          </section>
          <section id="about_us_government_compliance" style="text-align: left">
            <h2>Government Compliance</h2>
            <p>Most industries have some degree of regulation that’s subject to change. Some have a lot. ScrapeGenie 
              saves you valuable time and resources by letting you train intelligent agents (bots) to do the work 
              for you, crawling sites and alerting you when changes occur. 
            </p>
          </section>
      </div> <!-- End Column 12 -->					
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Services Section -->
<%= javascript_include_tag "jquery.min" %>
<script type="text/javascript">
  $(document).ready(function() {
    $("nav#navigation ul li").removeClass("current");
    $("nav#navigation ul li#about_link").addClass("current");
    $("nav#navigation ul li").addClass("external");
        $.backstretch([
            "/assets/background-intro.jpg"
            , "/assets/background-intro-2.jpg"
            , "/assets/background-intro-4.jpg"
          ], {duration: 2600, fade: 1000});

  });
  
   
</script>