<!-- ==============================================
  Home
  =============================================== -->
<section id="home" class="on-menu fullscreen" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 home-main-section" style="overflow-wrap:break-word;text-align: left !important; margin-top: 110px; color: white;">
        <div class="col-xs-4 title-box">
          <div class="featured-img"><img src="/assets/crawl-icon-2.png" alt="Converting data from raw HTML to structured via Crawl &amp; Extraction pipeline" class="lazyload" data-original="/assets/crawl-icon-2.png"> </div>
          <h2 class="section-crawl-title">Site-specific Crawl & Extraction</h2>
          <div>Crawling specific sites of interest and precise extraction for delivery of structured data.</div>
        </div>
        <div class="col-xs-4 title-box">
          <div class="featured-img"> <img src="/assets/lan-icon.png" alt="very large-scale Crawls- continuous data feeds provided in near real time using our powerful crawler" class="lazyload" data-original="/assets/lan-icon.png"> 
          </div>
          <h2 class="section-crawl-title">Mass Scale Crawls</h2>
          <div>Tens of thousands of sources crawled for analysis in near real-time.</div>
        </div>
        <div class="col-xs-4 title-box">
          <div class="featured-img"> <img src="/assets/cloud-icon.png" alt="Full-text search as a service" class="lazyload" data-original="/assets/cloud-icon.png"> </div>
          <h2 class="section-crawl-title">Hosted Indexing </h2>
          <div>Indexing big data to make it searchable.</div>
        </div>
      </div>
      <div class="col-xs-12  home-main-section" style="color: #333;overflow-wrap:break-word;text-align: left;">
        <div class="col-xs-4 title-box-white">
          <h2 class="section-home-title">For business</h2>
          <div>I can’t code but want a cost effective way to extract data from websites and PDFs.</div>
        </div>
        <div class="col-xs-4 title-box-white">
          <h2 class="section-home-title">For developers</h2>
          <div>I am a developer and want a place to write and run code to extract, clean and explore data.</div>
        </div>
        <div class="col-xs-4 title-box-white">
          <h2 class="section-home-title">For corporates</h2>
          <div>I’m a business and need professional data extraction, analysis and management.</div>
        </div>
      </div>
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Home Section -->

<!-- ==============================================
About
=============================================== -->
<section id="about" class="on-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-pre-title">Discover everything</h2>
        <h1 class="section-title">About Us</h1>
        <div class="section-icon">
          <i class="fa fa-bullhorn"></i>
        </div>
      </div> <!-- End Column 12 -->
    </div> <!-- End Row -->
    <div class="row about-product">
      <div class="col-md-12 ">
        <div class="col-md-6 one">
          <span >
            <span class="hi-icon-about">
              <i class="fa fa-money"></i>
            </span>
            <h4>Financial Services</h4>
          </span>          
        </div>
        <div class="col-md-6 two">
          <span >
            <span class="hi-icon-about">
              <i class="fa fa-shopping-cart"></i>
            </span>
            <h4>Marketers</h4>
          </span>          
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6  one">
          <span>
            <span class="hi-icon-about">
              <i class="fa fa-code-fork"></i>
            </span>
            <h4>Online Aggregators</h4>
          </span>          
        </div>
        <div class="col-md-6 two">
          <span >
            <span class="hi-icon-about">
              <i class="fa fa-flask"></i>
            </span>
            <h4>Researchers</h4>
          </span> 
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-6 one">
          <span>
            <span class="hi-icon-about">
              <i class="fa fa-user-md"></i>
            </span>
            <h4>Reputation Management Profesionals</h4>
          </span>          
        </div>
        <div class="col-md-6 two">
          <span>
            <span class="hi-icon-about">
              <i class="fa fa-group"></i>
            </span>
            <h4>Government Compliance</h4>
          </span>          
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="col-md-6 one">
          <span >
            <span class="hi-icon-about">
              <i class="fa fa-search-plus"></i>
            </span>
            <h4>Search Engine Optimization Profesionals</h4>
          </span>     
        </div>
      </div>
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End About Section -->

<section class="empty-space"></section> <!-- Emnd Empty Space Section -->

<!-- ==============================================
Services
=============================================== -->
<section id="services" class="on-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-pre-title">We offer</h2>
        <h1 class="section-title">Services</h1>
        <div class="section-icon">
          <i class="fa fa-wrench"></i>
        </div>
        <div class="row services-list">
          <div class="col-md-3 text-center service animated" data-animation="flipInY">
            <span class="hi-icon fa fa-3x fa-archive"></span>
            <h4>Extraction</h4>
            <p>ScrapeGenie is a reliable & efficient way to harvest content from anywhere it exists online.  to power search verticals, populate reports or trigger alerts according to your unique specifications...<br/> 
              <a href="<%= services_path %>#service_extraction">(Read More)</a>
            </p>
          </div>
          <div class="col-md-3 text-center service animated" data-animation="flipInY" data-animation-delay="200">
            <span class="hi-icon fa fa-3x fa-list"></span>
            <h4>Structuring</h4>
            <p>Different web sites have different ways of depicting information. Depending upon the sources that you wish to gather data from, various degrees of “structuring” may be required before the data will...<br/>
              <a href="<%= services_path %>#service_structuring">(Read More)</a>
            </p>
          </div>
          <div class="col-md-3 text-center service animated" data-animation="flipInY" data-animation-delay="400">
            <span class="hi-icon fa fa-3x fa-gears"></span>
            <h4>Easy to Customize</h4>
            <p>Information Made Actionable<br/>
              Once the data has been collected and “structured” it can be normalized to fit within the existing framework of your site, application, dashboard, report or alerting system...<br/>
              <a href="<%= services_path %>#service_customize">(Read More)</a>
            </p>
          </div>
          <div class="col-md-3 text-center service animated" data-animation="flipInY" data-animation-delay="600">
            <span class="hi-icon fa fa-3x fa-code"></span>
            <h4>Programming</h4>
            <p>Have a Bright Idea?<br/>
              When you need a little help we can lend a hand. Our team of senior-level developers brings a broad range of diversified skills and has several years of experience architecting and deploying enterprise level projects...<br/>
              <a href="<%= services_path %>#service_programing">(Read More)</a>
            </p>
          </div>
        </div> <!-- End Services List -->
      </div> <!-- End Column 12 -->					
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Services Section -->

<!-- ==============================================
Call to Action
=============================================== -->
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>BRIDGING THE GAP BETWEEN GREAT CODE AND DESIGN</h3>
        <div class="section-icon">
          <i class="icon-ok"></i>
        </div>
        <a href="#portfolio" class="scrollto button">View our Portfolio</a>
      </div> <!-- End Column 12 -->
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Call to Action -->

<!-- ==============================================
Testimonials
=============================================== -->
<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-pre-title">Our clients</h2>
        <h2 class="section-title">Testimonials</h2>
        <div class="section-icon background-white"></div>
        <div class="flexslider testimonials-slider">

          <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-940px, 0, 0);"><li class="clone" aria-hidden="true" style="width: 940px; float: left; display: block;">
                <h3>Great template – I love it! It's one of the best templates I've ever purchased!</h3>
                <h5>Joel Gardiner - Web Developer</h5>
              </li>
              <li style="width: 940px; float: left; display: block;" class="flex-active-slide">
                <h3>Thank you for this awesome template, it’s great!</h3>
                <h5>Julien, King of Madagascar</h5>
              </li>
              <li style="width: 940px; float: left; display: block;" class="">
                <h3>Love your template! All pages are awesome! Congratulations!</h3>
                <h5>Jarett Cale - Founder of Animation Loop</h5>
              </li>
              <li style="width: 940px; float: left; display: block;" class="">
                <h3>Great template – I love it! It's one of the best templates I've ever purchased!</h3>
                <h5>Joel Gardiner - Web Developer</h5>
              </li>
              <li style="width: 940px; float: left; display: block;" class="clone" aria-hidden="true">
                <h3>Thank you for this awesome template, it’s great!</h3>
                <h5>Julien, King of Madagascar</h5>
              </li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li></ol></div> <!-- End Flexslider -->
      </div> <!-- End Column 12 -->						
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Testimonials Section -->

<!-- ==============================================
Clients
=============================================== -->
<section id="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 client-logo animated" data-animation="fadeInUp">
        <a href="#" data-client="nokia">
          <img src="/assets/client-logo-1.png" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 client-logo animated" data-animation="fadeInUp" data-animation-delay="200">
        <a href="#" data-client="logitech">
          <img src="/assets/client-logo-3.png" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 client-logo animated client-disabled" data-animation="fadeInUp" data-animation-delay="400">
        <a href="#" data-client="philips">
          <img src="/assets/client-logo-2.png" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-3 client-logo animated client-disabled" data-animation="fadeInUp" data-animation-delay="600">
        <a href="#" data-client="steelseries">
          <img src="/assets/client-logo-4.png" alt="" class="img-responsive">
        </a>
      </div>
    </div> <!-- End Row -->
    <div class="row">
      <div class="col-md-12 client-description" id="nokia">
        <p class="bottom-margin"><em>This is an optional client description, you can disable this feature, as you can see for the last two clients.<br>
            Here you can insert any type of content.</em></p>
        <p>Nokia Corporation is a Finnish multinational communications and information technology corporation that is headquartered in Espoo, Finland. Its principal products are mobile telephones and portable IT devices.<br>
          It also offers Internet services including applications, games, music, media and messaging, and free-of-charge digital map information and navigation services through its wholly owned subsidiary Navteq. Nokia owns a company named Nokia Solutions and Networks, which provides telecommunications network equipment and services.</p>
      </div>
      <div class="col-md-12 client-description" id="logitech">
        <p class="bottom-margin"><em>This is an optional client description, you can disable this feature, as you can see for the last two clients.<br>
            Here you can insert any type of content.</em></p>
        <p>Logitech International S.A. is a global provider of personal computer accessories headquartered in Romanel-sur-Morges, Switzerland. The company develops and markets products like peripheral devices for PCs, including keyboards, mice, trackballs, microphones, game controllers and webcams. Logitech also makes home and computer speakers, headphones, wireless audio devices, as well as audio devices for MP3 players and mobile phones.<br>
          In addition to its Swiss headquarters, the company has offices in Newark, California, as well as throughout Europe, Asia and the rest of the Americas. Logitech's sales and marketing activities are organized into four geographic regions: Americas, EMEA, Asia Pacific and China.</p>
      </div>
      <div class="col-md-12 client-description" id="philips">
        <p>Koninklijke Philips N.V. is a Dutch multinational engineering and electronics conglomerate headquartered in Amsterdam. It was founded in Eindhoven in 1891 by Gerard Philips and his father Frederik. It is one of the largest electronics companies in the world and employs around 122,000 people across more than 60 countries.<br>
          Philips is organized into three main divisions: Philips Consumer Lifestyle (formerly Philips Consumer Electronics and Philips Domestic Appliances and Personal Care), Philips Healthcare (formerly Philips Medical Systems) and Philips Lighting. As of 2012 Philips was the largest manufacturer of lighting in the world measured by applicable revenues.<br>
          In 2013, the company sold the bulk of its remaining consumer electronics operations to Funai Electric Co.</p>
      </div>
      <div class="col-md-12 client-description" id="steelseries">
        <p>SteelSeries is a Danish manufacturer of gaming peripherals and accessories, including headsets, keyboards, mice, gaming surfaces and software. SteelSeries has historically helped sponsor the growth of competitive gaming and electronic sports through professional team sponsorships and community support all over the world.</p>
      </div>
    </div>
  </div> <!-- End Container -->
</section> <!-- End Clients Section -->

<!-- ==============================================
Portfolio
=============================================== -->
<section id="portfolio" class="on-menu">
  <div class="top-portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-pre-title">Projects</h2>
          <h1 class="section-title">Portfolio</h1>
          <div class="section-icon">
            <i class="icon-briefcase"></i>
          </div>
          <p>Ut ipsum odio, suscipit quis congue non, pulvinar non turpis. Mauris sed nisl metus. Cras sit amet nunc vel mauris semper.</p>
          <nav class="portfolio-filter">
            <ul>
              <li><a href="#" class="button active" data-filter="*">all</a></li>
              <li><a href="#" class="button" data-filter=".web-design">web design</a></li>
              <li><a href="#" class="button" data-filter=".photography">photography</a></li>
              <li><a href="#" class="button" data-filter=".brands">brands</a></li>
              <li><a href="#" class="button" data-filter=".video">video</a></li>
            </ul>
          </nav>
        </div> <!-- End Column 12 -->
      </div> <!-- End Row -->
    </div> <!-- End Container -->
  </div> <!-- End Top Portfolio -->
  <div class="extended-portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="project-close">
            <a href="#loader"></a> 
          </div>
          <div class="project-navigation">
            <div class="project-prev">
              <a href="#"></a>
            </div>
            <div class="project-next">
              <a href="#"></a>
            </div>
          </div>
          <div class="project-loader"></div>
          <div class="project-content"></div>
        </div> <!-- End Column 12 -->
      </div>  <!-- End Row -->
    </div> <!-- End Container -->	
  </div> <!-- End Extended Portfolio -->
  <div class="portfolio-container">
    <div class="portfolio isotope" style="position: relative; overflow: hidden; height: 616px;">
      <div class="portfolio-item web-design photography isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 0px); width: 270px;">
        <a href="#?projects/project-1.html">
          <div class="image-container">
            <img src="/assets/project-1.jpg" alt="" class="img-responsive">
          </div>
          <h4>Double B Coffee</h4>
          <p class="portfolio-categories">web design - photography</p>
        </a>
      </div>
      <div class="portfolio-item brands isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(270px, 0px); width: 270px;">
        <a href="#?projects/project-2.html">
          <div class="image-container">
            <img src="/assets/project-2.jpg" alt="" class="img-responsive">
          </div>
          <h4>Heroes and Villains</h4>
          <p class="portfolio-categories">brands</p>
        </a>
      </div>
      <div class="portfolio-item photography video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(540px, 0px); width: 270px;">
        <a href="#?projects/project-3.html">
          <div class="image-container">
            <img src="/assets/project-3.jpg" alt="" class="img-responsive">
          </div>
          <h4>College of Design</h4>
          <p class="portfolio-categories">photography - video</p>
        </a>
      </div>
      <div class="portfolio-item web-design isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(810px, 0px); width: 270px;">
        <a href="#?projects/project-4.html">
          <div class="image-container">
            <img src="/assets/project-4.jpg" alt="" class="img-responsive">
          </div>
          <h4>Bama Storkjoekken</h4>
          <p class="portfolio-categories">web design</p>
        </a>
      </div>
      <div class="portfolio-item video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(1080px, 0px); width: 270px;">
        <a href="#?projects/project-5.html">
          <div class="image-container">
            <img src="/assets/project-5.jpg" alt="" class="img-responsive">
          </div>
          <h4>Regular Events Matrix</h4>
          <p class="portfolio-categories">video</p>
        </a>
      </div>
      <div class="portfolio-item video brands isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 308px); width: 270px;">
        <a href="#?projects/project-6.html">
          <div class="image-container">
            <img src="/assets/project-6.jpg" alt="" class="img-responsive">
          </div>
          <h4>Mayu</h4>
          <p class="portfolio-categories">video - brands</p>
        </a>
      </div>
      <div class="portfolio-item web-design isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(270px, 308px); width: 270px;">
        <a href="#?projects/project-7.html">
          <div class="image-container">
            <img src="/assets/project-7.jpg" alt="" class="img-responsive">
          </div>
          <h4>Mechanics Infographics</h4>
          <p class="portfolio-categories">web design</p>
        </a>
      </div>
      <div class="portfolio-item photography isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(540px, 308px); width: 270px;">
        <a href="#?projects/project-8.html">
          <div class="image-container">
            <img src="/assets/project-8.jpg" alt="" class="img-responsive">
          </div>
          <h4>Chocolates</h4>
          <p class="portfolio-categories">photography</p>
        </a>
      </div>
      <div class="portfolio-item web-design video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(810px, 308px); width: 270px;">
        <a href="#?projects/project-9.html">
          <div class="image-container">
            <img src="/assets/project-9.jpg" alt="" class="img-responsive">
          </div>
          <h4>Next Gen Console War</h4>
          <p class="portfolio-categories">web design - video</p>
        </a>
      </div>
      <div class="portfolio-item brands isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(1080px, 308px); width: 270px;">
        <a href="#?projects/project-10.html">
          <div class="image-container">
            <img src="/assets/project-10.jpg" alt="" class="img-responsive">
          </div>
          <h4>Nature Dreamy</h4>
          <p class="portfolio-categories">brands</p>
        </a>
      </div>
    </div> <!-- End Portfolio -->
  </div> <!-- End Portfolio Container -->
</section> <!-- End Portfolio Section -->

<section class="empty-space"></section> <!-- Emnd Empty Space Section -->

<!-- ==============================================
Team
=============================================== -->
<section id="team" class="on-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-pre-title">Meet the</h2>
        <h1 class="section-title">Team</h1>
        <div class="section-icon">
          <i class="icon-group"></i>
        </div>
        <p>Etiam quis leo molestie, porta est ac, tincidunt risus. Ut ipsum odio, suscipit quis congue non, <strong>pulvinar</strong> non turpis. Mauris sed nisl metus. Cras sit amet nunc vel mauris semper malesuada id eget justo.</p>
      </div> <!-- End Column 12 -->
    </div> <!-- End Row -->
    <div class="row team-list">
      <div class="col-md-4 text-center team-member animated" data-animation="flipInY">
        <div class="image-container">
          <img src="/assets/team-1.jpg" alt="team-1" class="img-responsive">
        </div>
        <h4>Jarett Cale</h4>
        <h5>Founder</h5>
      </div> <!-- End Column 4 -->
      <div class="col-md-4 text-center team-member animated" data-animation="flipInY" data-animation-delay="200">
        <div class="image-container">
          <img src="/assets/team-2.jpg" alt="team-2" class="img-responsive">
        </div>
        <h4>Miranda Plant</h4>
        <h5>Designer</h5>
      </div> <!-- End Column 4 -->
      <div class="col-md-4 text-center team-member animated" data-animation="flipInY" data-animation-delay="400">
        <div class="image-container">
          <img src="/assets/team-3.jpg" alt="team-3" class="img-responsive">
        </div>
        <h4>Joel Gardiner</h4>
        <h5>Developer</h5>
      </div> <!-- End Column 4 -->
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Team Section -->

<!-- ==============================================
Join
=============================================== -->
<section id="join">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-pre-title">There's nothing else like Nervaq</h2>
        <h1 class="section-title">Purchase now</h1>
      </div> <!-- End Column 12 -->						
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Join Section -->

<!-- ==============================================
Newsletter
=============================================== -->
<section id="newsletter" class="on-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-pre-title">Subscribe to our</h2>
        <h1 class="section-title">Newsletter</h1>
        <div class="section-icon">
          <i class="icon-envelope"></i>
        </div>
        <p>Ut ipsum odio, suscipit quis congue non, pulvinar non turpis. Mauris sed nisl metus. Cras sit amet nunc vel mauris semper.</p>
        <form method="post" action="#" id="newsletter-form">
          <input type="text" name="email" id="newsletter-name" placeholder="Insert your e-mail..." required="">
          <input type="submit" name="submit" id="newsletter-submit" value="Join Us">
          <p class="form-message"></p>		
        </form> <!-- End Form -->
        <p>You can trust us, we don't spam</p>
      </div> <!-- End Column 12 -->
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Newsletter Section -->