<!-- ==============================================
  Home
  =============================================== -->
<section id="home" class="on-menu fullscreen" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12 home-main-section" style="overflow-wrap:break-word;text-align: left !important; margin-top: 110px; color: white;">
        <div class="col-xs-4 title-box">
          <div class="featured-img"><img src="/assets/crawl-icon-2.png" alt="Converting data from raw HTML to structured via Crawl &amp; Extraction pipeline" class="lazyload" data-original="/assets/crawl-icon-2.png"> </div>
          <h2 class="section-crawl-title">Site-specific Crawl & Extraction</h2>
          <div>Crawling specific sites of interest and precise extraction for delivery of structured data.</div>
        </div>
        <div class="col-xs-4 title-box">
          <div class="featured-img"> <img src="/assets/lan-icon.png" alt="very large-scale Crawls- continuous data feeds provided in near real time using our powerful crawler" class="lazyload" data-original="/assets/lan-icon.png"> 
          </div>
          <h2 class="section-crawl-title">Mass Scale Crawls</h2>
          <div>Tens of thousands of sources crawled for analysis in near real-time.</div>
        </div>
        <div class="col-xs-4 title-box">
          <div class="featured-img"> <img src="/assets/cloud-icon.png" alt="Full-text search as a service" class="lazyload" data-original="/assets/cloud-icon.png"> </div>
          <h2 class="section-crawl-title">Hosted Indexing </h2>
          <div>Indexing big data to make it searchable.</div>
        </div>
      </div>
      <div class="col-xs-12  home-main-section" style="color: #333;overflow-wrap:break-word;text-align: left;">
        <div class="col-xs-4 title-box-white">
          <h2 class="section-home-title">For business</h2>
          <div>I can’t code but want a cost effective way to extract data from websites and PDFs.</div>
        </div>
        <div class="col-xs-4 title-box-white">
          <h2 class="section-home-title">For developers</h2>
          <div>I am a developer and want a place to write and run code to extract, clean and explore data.</div>
        </div>
        <div class="col-xs-4 title-box-white">
          <h2 class="section-home-title">For corporates</h2>
          <div>I’m a business and need professional data extraction, analysis and management.</div>
        </div>
      </div>
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Home Section -->

<!-- ==============================================
Clients
=============================================== -->
<section id="clients" class="on-menu" style="padding-top: 0px">
  <div class="row" style="background-color: white;" >
    <div class="col-md-12" style="margin-top: 80px;">
        <h2 class="section-pre-title">Discover everything</h2>
        <h1 class="section-title" style="margin-bottom: 0px;">About Us</h1>
        <div class="section-icon" style="margin-bottom: 0px">
          <i class="fa fa-bullhorn fa-spin" style="padding: 50px;border-radius: 50%; font-size: 3em"></i>
        </div>
      </div> <!-- End Column 12 -->
    </div> <!-- End Row -->
  <div class="container">
    <div class="row" style="height: 150px">
      <div class="col-sm-3 client-logo animated" data-animation="fadeInUp">
        <a href="#" data-client="financial_services">
          <h2 class="clients_h2" style="padding-top: 20px">Financial Services</h2>
        </a>
      </div>
      <div class="col-sm-3 client-logo animated" data-animation="fadeInUp" data-animation-delay="200">
        <a href="#" data-client="marketers">
          <h2 class="clients_h2" style="padding-top: 36px">Marketers</h2>
        </a>
      </div>
      <div class="col-sm-3 client-logo animated " data-animation="fadeInUp" data-animation-delay="400">
        <a href="#" data-client="researchers">
          <h2 class="clients_h2" style="padding-top: 36px">Researchers</h2>
        </a>
      </div>
      <div class="col-sm-3 client-logo animated " data-animation="fadeInUp" data-animation-delay="600">
        <a href="#" data-client="aggregators">
          <h2 class="clients_h2" style="padding-top: 20px">Online Aggregators</h2>
        </a>
      </div>
    </div> <!-- End Row -->
    <div class="row" >
      <div class="col-md-12 client-description" id="financial_services">
        <p class="bottom-margin"><em>Financial Services</em></p>
        <p>ScrapeGenie’s intelligent agents monitor, normalize and export data to populate spreadsheets, 
          trigger alerts or power mash-ups. The result can be potentially millions of dollars per trade. 
          In a sea of information ScrapeGenie converts raw data into actionable intelligence, reducing 
          response times and informing better decision making processes. 
        </p>
      </div>
      <div class="col-md-12 client-description" id="marketers">
        <p class="bottom-margin"><em>Marketer's</em></p>
        <p>The Internet contains a wealth of information but the problem has historically been how to 
          efficiently gather and make sense of it. ScrapeGenie provides marketers with the tools to 
          effortlessly monitor chat, harvest directories, compile lists and validate data. 
        </p>
      </div>
      <div class="col-md-12 client-description" id="researchers">
        <p class="bottom-margin"><em>Researchers</em></p>
        <p>Unlock data silos otherwise beyond reach, using conventional methods and technologies. 
          ScrapeGenie places valuable data sources within your reach, with proprietary technology 
          and an experienced staff that’s ready to help. 
        </p>
      </div>
      <div class="col-md-12 client-description" id="aggregators">
        <p class="bottom-margin"><em>Online Aggregators</em></p>
        <p>Aggregation of information is an inevitable step in the progression of the Internet. It 
          potentially affects every industry and individual, and ScrapeGenie provides aggregators a 
          way to power their enterprise without having to first invest heavily in any single technology 
          solution.
        </p>
      </div>
    </div>
  </div>
  <section class="empty-space" style="height: 100px; background-color: white"></section> 
  <div class="container">
    <div class="row" style="height: 150px">
      <div class="col-sm-4 client-logo animated" data-animation="fadeInUp">
        <a href="#" data-client="engine_optimization">
          <h2 class="clients_h2" style="padding-top: 70px">SEO Professionals</h2>
        </a>
      </div>
      <div class="col-sm-4 client-logo animated" data-animation="fadeInUp" data-animation-delay="200">
        <a href="#" data-client="reputation_management">
          <h2 class="clients_h2" style="padding-top: 34px">Reputation Management Professionals</h2>
        </a>
      </div>
      <div class="col-sm-4 client-logo animated " data-animation="fadeInUp" data-animation-delay="600">
        <a href="#" data-client="government">
          <h2 class="clients_h2" style="padding-top: 53px">Government Compliance</h2>
        </a>
      </div>
    </div> <!-- End Row -->

    <div class="row">
      <div class="col-md-12 client-description" id="engine_optimization">
        <p class="bottom-margin"><em>Search Engine Optimization Professionals</em></p>
        <p>As SEO continues to become a key component in company’s marketing strategies, 
          obtaining site content becomes increasingly more important. ScrapeGenie provides 
          an efficient means to consistently gather content from news sources, directories, 
          partner sites and more.
        </p>
      </div>
      <div class="col-md-12 client-description" id="reputation_management">
        <p class="bottom-margin"><em>Reputation Management Professionals</em></p>
        <p>Understanding what’s being said about you online can be an invaluable source of information, and 
          many times less expensive than focus groups or expensive research projects. ScrapeGenie lets you 
          easily monitor the sites that matter 24/7. 
        </p>
      </div>
      <div class="col-md-12 client-description" id="government">
        <p class="bottom-margin"><em>Government Compliance</em></p>
        <p>Most industries have some degree of regulation that’s subject to change. Some have a lot. ScrapeGenie 
          saves you valuable time and resources by letting you train intelligent agents (bots) to do the work 
          for you, crawling sites and alerting you when changes occur. 
        </p>
      </div>
    </div>

  </div> <!-- End Container -->
</section> <!-- End Clients Section -->

<section class="empty-space"></section> <!-- Emnd Empty Space Section -->

<!-- ==============================================
Services
=============================================== -->
<section id="services" class="on-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-pre-title">We offer</h2>
        <h1 class="section-title" style="margin-bottom: 0px;">Services</h1>
        <div class="section-icon">
          <i class="fa fa-wrench fa-spin" style="padding: 50px;border-radius: 50%; font-size: 3em"></i>
        </div>
        <div class="row services-list">
          <div class="col-md-3 text-center service animated" data-animation="flipInY">
            <span class="hi-icon fa fa-3x fa-archive"></span>
            <h4>Extraction</h4>
            <p>ScrapeGenie is a reliable & efficient way to harvest content from anywhere it exists online.  to power search verticals, populate reports or trigger alerts according to your unique specifications...<br/> 
              <a href="<%= services_path %>#service_extraction">(Read More)</a>
            </p>
          </div>
          <div class="col-md-3 text-center service animated" data-animation="flipInY" data-animation-delay="200">
            <span class="hi-icon fa fa-3x fa-list"></span>
            <h4>Structuring</h4>
            <p>Different web sites have different ways of depicting information. Depending upon the sources that you wish to gather data from, various degrees of “structuring” may be required before the data will...<br/>
              <a href="<%= services_path %>#service_structuring">(Read More)</a>
            </p>
          </div>
          <div class="col-md-3 text-center service animated" data-animation="flipInY" data-animation-delay="400">
            <span class="hi-icon fa fa-3x fa-gears"></span>
            <h4>Easy to Customize</h4>
            <p>Information Made Actionable<br/>
              Once the data has been collected and “structured” it can be normalized to fit within the existing framework of your site, application, dashboard, report or alerting system...<br/>
              <a href="<%= services_path %>#service_customize">(Read More)</a>
            </p>
          </div>
          <div class="col-md-3 text-center service animated" data-animation="flipInY" data-animation-delay="600">
            <span class="hi-icon fa fa-3x fa-code"></span>
            <h4>Programming</h4>
            <p>Have a Bright Idea?<br/>
              When you need a little help we can lend a hand. Our team of senior-level developers brings a broad range of diversified skills and has several years of experience architecting and deploying enterprise level projects...<br/>
              <a href="<%= services_path %>#service_programing">(Read More)</a>
            </p>
          </div>
        </div> <!-- End Services List -->
      </div> <!-- End Column 12 -->					
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section> <!-- End Services Section -->

<!-- ==============================================
Call to Action
<!-- ==============================================
Portfolio
=============================================== -->
<section id="portfolio" class="on-menu">
  <div class="top-portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-pre-title">Projects</h2>
          <h1 class="section-title">Portfolio</h1>
          <div class="section-icon">
            <i class="fa fa-briefcase"></i>
          </div>
          <nav class="portfolio-filter">
            <ul>
              <li><a href="#" class="button active" data-filter="*">all</a></li>
              <li><a href="#" class="button" data-filter=".web-design">web design</a></li>
              <li><a href="#" class="button" data-filter=".photography">photography</a></li>
              <li><a href="#" class="button" data-filter=".brands">brands</a></li>
              <li><a href="#" class="button" data-filter=".video">video</a></li>
            </ul>
          </nav>
        </div> <!-- End Column 12 -->
      </div> <!-- End Row -->
    </div> <!-- End Container -->
  </div> <!-- End Top Portfolio -->
  <div class="extended-portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="project-close">
            <a href="#loader"></a> 
          </div>
          <div class="project-navigation">
            <div class="project-prev">
              <a href="#"></a>
            </div>
            <div class="project-next">
              <a href="#"></a>
            </div>
          </div>
          <div class="project-loader"></div>
          <div class="project-content"></div>
        </div> <!-- End Column 12 -->
      </div>  <!-- End Row -->
    </div> <!-- End Container -->	
  </div> <!-- End Extended Portfolio -->
  <div class="portfolio-container">
    <div class="portfolio isotope" style="position: relative; overflow: hidden; height: 616px;">
      <div class="portfolio-item web-design photography isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 0px); width: 270px;">
        <a href="#?projects/project-1.html">
          <div class="image-container">
            <img src="/assets/project-1.jpg" alt="" class="img-responsive">
          </div>
          <h4>Double B Coffee</h4>
          <p class="portfolio-categories">web design - photography</p>
        </a>
      </div>
      <div class="portfolio-item brands isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(270px, 0px); width: 270px;">
        <a href="#?projects/project-2.html">
          <div class="image-container">
            <img src="/assets/project-2.jpg" alt="" class="img-responsive">
          </div>
          <h4>Heroes and Villains</h4>
          <p class="portfolio-categories">brands</p>
        </a>
      </div>
      <div class="portfolio-item photography video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(540px, 0px); width: 270px;">
        <a href="#?projects/project-3.html">
          <div class="image-container">
            <img src="/assets/project-3.jpg" alt="" class="img-responsive">
          </div>
          <h4>College of Design</h4>
          <p class="portfolio-categories">photography - video</p>
        </a>
      </div>
      <div class="portfolio-item web-design isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(810px, 0px); width: 270px;">
        <a href="#?projects/project-4.html">
          <div class="image-container">
            <img src="/assets/project-4.jpg" alt="" class="img-responsive">
          </div>
          <h4>Bama Storkjoekken</h4>
          <p class="portfolio-categories">web design</p>
        </a>
      </div>
      <div class="portfolio-item video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(1080px, 0px); width: 270px;">
        <a href="#?projects/project-5.html">
          <div class="image-container">
            <img src="/assets/project-5.jpg" alt="" class="img-responsive">
          </div>
          <h4>Regular Events Matrix</h4>
          <p class="portfolio-categories">video</p>
        </a>
      </div>
      <div class="portfolio-item video brands isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(0px, 308px); width: 270px;">
        <a href="#?projects/project-6.html">
          <div class="image-container">
            <img src="/assets/project-6.jpg" alt="" class="img-responsive">
          </div>
          <h4>Mayu</h4>
          <p class="portfolio-categories">video - brands</p>
        </a>
      </div>
      <div class="portfolio-item web-design isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(270px, 308px); width: 270px;">
        <a href="#?projects/project-7.html">
          <div class="image-container">
            <img src="/assets/project-7.jpg" alt="" class="img-responsive">
          </div>
          <h4>Mechanics Infographics</h4>
          <p class="portfolio-categories">web design</p>
        </a>
      </div>
      <div class="portfolio-item photography isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(540px, 308px); width: 270px;">
        <a href="#?projects/project-8.html">
          <div class="image-container">
            <img src="/assets/project-8.jpg" alt="" class="img-responsive">
          </div>
          <h4>Chocolates</h4>
          <p class="portfolio-categories">photography</p>
        </a>
      </div>
      <div class="portfolio-item web-design video isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(810px, 308px); width: 270px;">
        <a href="#?projects/project-9.html">
          <div class="image-container">
            <img src="/assets/project-9.jpg" alt="" class="img-responsive">
          </div>
          <h4>Next Gen Console War</h4>
          <p class="portfolio-categories">web design - video</p>
        </a>
      </div>
      <div class="portfolio-item brands isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate(1080px, 308px); width: 270px;">
        <a href="#?projects/project-10.html">
          <div class="image-container">
            <img src="/assets/project-10.jpg" alt="" class="img-responsive">
          </div>
          <h4>Nature Dreamy</h4>
          <p class="portfolio-categories">brands</p>
        </a>
      </div>
    </div> <!-- End Portfolio -->
  </div> <!-- End Portfolio Container -->
</section> <!-- End Portfolio Section -->

<section class="empty-space"></section> <!-- Emnd Empty Space Section -->
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>BRIDGING THE GAP BETWEEN GREAT CODE AND DESIGN</h3>
        <div class="section-icon">
          <i class="fa fa-video-camera"></i>
        </div>
      </div> <!-- End Column 12 -->
    </div> <!-- End Row -->
    <br/>
    <br/>
    <div class="row about-product">
      <div class="col-md-12 ">
        <span>        
          <iframe id="player" type="text/html" style="height: 600px; width: 100%"
                  src="http://www.youtube.com/embed/Oo0gGI4U-nQ?enablejsapi=1&origin=http%3A%2F%2Fwww.youtube.com"
                  frameborder="0"></iframe>
        </span>
      </div>
    </div> <!-- End Container -->
</section> <!-- End Call to Action -->