/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
section#about .one:hover,
section#about .two:hover{
    color: #5aa9ce !important;
    background-color: #e1e1e1;
}
section#about .one:hover h4,
section#about .two:hover h4{
    color: #5aa9ce !important;
}
section#about .one:hover .hi-icon-about,
section#about .two:hover .hi-icon-about{
    color: #5aa9ce !important;
}
section#about .one:hover .hi-icon-about:hover,
section#about .two:hover .hi-icon-about:hover{
    color: white !important;
}